.DS_Store
xcode/.DS_Store
xcode/JNTETRI.xcodeproj/xcuserdata/jhasse.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
xcode/JNTETRI.xcodeproj/project.xcworkspace/xcuserdata/
.sconsign.dblite
bin/
*.sublime-workspace
obj/
jntetri.depend
jntetri.layout
*.sdf
*.v12.suo
Debug/
Release/
packages/
msi/*.wixobj
msi/*.wixpdb
msi/JNTETRI.msi
msi/data.wxs
/JNTETRI.opensdf
