/build*/
.DS_Store
.sconsign.dblite
bin/
*.sublime-workspace
obj/

msi/*.wixobj
msi/*.wixpdb
msi/JNTETRI.msi
msi/data.wxs
/JNTETRI.opensdf
/.cache/

# Visual Studio
*.sdf
*.v12.suo
.vs/
Debug/
Release/
packages/

# Visual Studio Code
.browse.VC.db
/.vscode/cquery*
/.ccls-cache/
/compile_commands.json
/.clangd/

# Meson
/subprojects/*-*
/subprojects/packagecache/
