<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="6358C92A-D48B-4AEF-815F-A43A7804CC6A" Name="JNTETRI" Language="1033" Version="0.8.4" Manufacturer="watteimdocht.de" UpgradeCode="0BE24356-5347-4CF7-8BF0-01856A5461D6">
        <Package Description="JNTETRI Installer"
		  Comments="JNTETRI is a tetris clone with simple and clear graphics"
		  Manufacturer="watteimdocht.de"
		  InstallerVersion="200" Languages="1033" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="JNTETRI">
                    <Directory Id="bin" Name="bin">
                        <Component Id="jntetri.exe" DiskId="1" Guid="88CDEAB2-68CB-4519-B21D-BB315476298A">
                            <File Id="jntetri.exe" Name="jntetri.exe" Source="..\Release\jntetri.exe" KeyPath="yes">
                                <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="JNTETRI" WorkingDirectory="INSTALLDIR" Advertise="yes" Icon="icon.exe" IconIndex="0" />
                                <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="JNTETRI" Advertise="yes" Icon="icon.exe" IconIndex="0" />
                            </File>
                        </Component>
                    </Directory>
                    <Directory Id="data" Name="data">
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="JNTETRI">
                    <Component Id="StartMenuShortcuts" Guid="6C2D3DB7-99FC-4FED-8EA6-CA2F808AE654">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <util:InternetShortcut Id="WebsiteShortcut" Name="watteimdocht.de" Target="http://www.watteimdocht.de" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1" ConfigurableDirectory='INSTALLDIR'>
            <ComponentRef Id="StartMenuShortcuts" />
            <ComponentRef Id="jntetri.exe" />
            <ComponentGroupRef Id="DataFiles" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_InstallDir" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<WixVariable Id="WixUILicenseRtf" Value="gpl3.rtf" />
		<WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
		<WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
		<Icon Id="icon.exe" SourceFile="../jntetri.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.exe" />
		<Property Id="ALLUSERS" Value="1" />
    </Product>
</Wix>
